@charset "utf-8";
	p {
		color: burlywood; font-family:"great-primer-small-caps"; font-size: 20pt; padding-left: 5pt; padding-right: 5pt; 
	}
	h1 {
		text-align:center; font-family:"great-primer-small-caps"; font-size: 60pt; color: burlywood; padding-left: 5pt; padding-right: 5pt; 
	}
	body {
		 background-image: url("501504-top-plain-desktop-backgrounds-1920x1200-for-full-hd.jpg"); padding-left: 5pt; padding-right: 5pt; 
	}
	div {
		
	}
	h2 {
		color: burlywood; font-size: 35pt; padding-left: 5pt; padding-right: 5pt; 
	}
	li {
		color: burlywood; font-size: 20pt; padding-left: 5pt; padding-right: 5pt; 
	}
	a {
		text-align: center; color: burlywood; font-size: 20pt; padding-left: 5pt; padding-right: 5pt; 
	}
	a:hover {background-color: black}
	nav {
		text-align: center; padding-left: 5pt; padding-right: 5pt; 
	}