@charset "utf-8";
	p {
		color: burlywood;
		font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
		font-size: 20pt;
		padding-left: 5pt;
		padding-right: 5pt; 
	}
	h1 {
		text-align:center;
		font-family:'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, 'sans-serif';
		font-size: 60pt;
		color: burlywood;
		padding-left: 5pt;
		padding-right: 5pt; 
	}
	body {
		 background-image: url("501504-top-plain-desktop-backgrounds-1920x1200-for-full-hd.jpg");
		font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
	}
	div {
		
	}
	h2 {
		color: burlywood;
		font-size: 35pt;
		padding-left: 5pt;
		padding-right: 5pt; 
		text-align: center;
	}
	li {
		color: burlywood;
		font-size: 20pt;
		padding-left: 5pt;
		padding-right: 5pt; 
	}
	a {
		text-align: center;
		color: burlywood;
		font-size: 20pt;
		padding-left: 5pt;
		padding-right: 5pt; 
	}
	a:hover {
		background-color: burlywood;
		color: black;
	}
	nav {
		text-align: center;
		padding-left: 5pt;
		padding-right: 5pt; 
	}
	img {
    width: 20%;
    border: thick solid #FFFFFF
	}
article {
	padding-left: 5%;
	padding-right: 5%;
}